@CHARSET "ISO-8859-1";

#billpay
{
	position:relative;
	margin:auto auto;
	width:90%;
	min-height:325px;
	height:auto;
}

#billpay .payment
{
	position:relative;
	margin:0px auto 0px auto;
	padding-top:5px;
	width:95%;
	height:60px;
	border-bottom:2px solid grey;
}

#billpay .titleBar
{
	position:relative;
	margin:0px auto 0px auto;
	padding-top:5px;
	width:95%;
	height:30px;
	border-bottom: solid 1px black;
	font-weight: bold;
	font-size: 16px;	
}

#billpay .title
{
	font-weight: bold;
	font-size: 16px;	
	padding-bottom:5px;
}

#billpay ul 
{
	list-style: none;
	display: block;
	margin: auto auto;	
}

#billpay ul li
{
	float:left;
	position:relative;	
	height:20px;
	cursor:default;
	width:33%;	
}

#billpay .payment:hover
{
	/*background:#BED8F1;*/	
}

#billpay .payee
{
	font-style: italic;
}

#billpay .current
{
	position:relative;
	width:100%;
	min-height:130px;
	height:auto;
	margin-bottom:10px;
	/*overflow: auto;*/
}

#billpay .edit, #billpay .remove
{
	position:relative;
	width:20px;
	height:15px;
	padding:3px;
	margin-top:3px;
	margin:1px;
	cursor:default;
}

#billpay .button
{
	position:relative;
	margin-top:15px;
	left:600px;
}

#billpay .edit
{
	background: #809FFF;	
}

#billpay .edit:hover
{
	background: #C0CFFF;	
}

#billpay .remove
{
	background:#FFCC80;
}

#billpay .remove:hover
{
	background:	#FFE6C0;
}

#billpay .currentPayee
{
	position:relative;
	height:20px;
	width:90%;
	margin-top:3px;
	padding:3px 0px 3px 10px;
	
}

#billpay .payeeName
{
	position:relative;
	float:left;
	width:50%;
	font-style: italic;
}

#billpay .buttons
{
	position:relative;
	float:right;
	width:50%;
}