@CHARSET "ISO-8859-1";

/*
#id selector
.class selector
p or h1 element selector
for multiple elements, separate with comma
Element will honor the settings with the most specificity
*/

.returnbutton
{
	margin-left:50px;
	margin-bottom:15px;
	margin-top:15px;
}

header
{
	border-bottom:1px solid black;
	margin-top:5px;
	margin-bottom:20px;
	padding-left:20px;
}

h1
{ 
  font-size: 24px;
  text-align:center;
  clear:left;
}

h3
{
	margin-bottom:0.2em;
	line-height:0.5em;
}

p
{
	margin-top:0.5em;
	margin-bottom:0.5em;
}

.right
{
	position:relative;
	float:right;
	margin-top:5px;
	margin-right:5%;
}

.left
{
	position:relative;
	float:left;
	margin-top:5px;
	margin-left:5%;
}

#wrapper
{
	width:800px;
	height:auto;
	
	border: solid 1px black;	
}

#title
{
	width:100%;
	height:75px;
	border-bottom:solid 1px black;
	background-image: url("../images/hometownlogo.gif");
	background-repeat: no-repeat;
	background-position: center;
}

#navigation
{
	width:100%;
	height:30px;
	padding-top:10px;
	background: #84B5E4;
	border-bottom:1px solid black;
	display:none;
}

#subnav
{
	position:relative;
	margin:20px auto;
	width:90%;
	height:10px;
}

#content
{
	width:100%;
	min-height:500px;
}

#logout
{
	position:relative;
	width:75px;
	float:right;
	background: #84B5E4;
	text-align:center;
	display:none;
}

#footer
{
	position:relative;
	
	width:100%;
	height:50px;
	text-align:center;
	background: #84B5E4;
	font-size:8pt;
	border-top:solid 1px black;
}

#loginbar
{	
	position:relative;
	float:left;
	width:180px;
	height:500px;
	/*min-height:450px;*/
	padding-left: 5px;
	padding-top: 5px;
	border-right:solid 1px black;
}

#signup
{
	float:left;
	width:100%;
	margin-top:20px;
}

#main
{
	position:relative;
	float:right;
	width:550px;
	height:auto;
	padding-top: 5px;
	padding-right: 10px;
}

#loading
{
	position:relative;
	margin:auto auto;
	width:400px;
	height:75px;
	text-align:center;
	background:url(../images/bigrotation2.gif) center no-repeat;
	border:solid 1px black;	
}

#updateUP
{
	text-align:center;
	background: #84B5E4;
	width:125px;
	float:left;
	position:relative;
	display:none;
}

.spacer
{
	width:100%;
	height:10px;
	border-top: solid 2px black;
}

#header .small
{
	font-size: 12px;
}

#header ul
{
	list-style: none;
}

#header
{
	border-bottom: 1px solid black;
	padding-top: 5px;
}

#waiting
{
	position: absolute;
	height:120px;
	width:200px;
	background-color:#483D8B;
	background-position:top center;
	color:white;
	margin-left:300px;
	margin-top:125px;
	text-align:center;
	display:none;
	z-index:100;
	border:2px solid #2E2E2E;
}

#transFunds ul li
{
	list-style: none;
	float:left;
	position:relative;	
	height:25px;
	cursor:default;
	width:33%;
}

#checkOrd
{
	margin-left:50px;
}
	
#selectCheck
{
	float:left; 
	width:100%;
}

#selectCheck .checkBox
{
	float:left; 
	margin:7px; 
	width:20%;
}

#selectCheck .check
{
	width:120px; 
	height:50px; 
	border:1px dotted blue;
	background: url(../images/check.jpg) center no-repeat;
}

#selectAccount
{
	float:left;
	width:100%;
	margin-top:25px;
}

#displayMsg .error
{
	color:red;
}

#displayMsg .success
{
  color:green;
}

#displayMsg
{
	position:relative;
  margin:auto auto;
  text-align:center;
}

#transFunds .submit
{
	position:relative;
	padding-left: 628px;
	margin-top: 10px;
	float:left;
	height:auto;
	width:auto;
}

#accounts
{
	position:relative;
	width:90%;
	height:auto;
	margin:auto auto;
	padding-bottom: 25px;
}

#accounts .accountType, #accounts .title
{
	position:relative;	
	height:auto;
	margin:auto auto;
	padding: 5px;
	overflow:hidden;	
}

#accounts .title
{
	width:90%;
	margin-top:10px;
	font-size: 16px;
	font-weight: bold;
	border:solid 1px #84B5E4;	
	background: white url(../images/collapse.gif) top right no-repeat;
}

#accounts span
{
	position:relative;	
	width:auto;
	float:right;	
}

#accounts ul
{
	list-style: none;
	display:block;
	margin:auto auto;
}

#accounts ul li
{
	position:relative;
	float:left;
	height:20px;
	cursor:default;
	width:50%;
}

#accounts .caccount, #accounts .saccount
{
	height:25px;	
}

#accounts .caccount:hover, #accounts .saccount:hover
{
	background:#BED8F1;	
}

#accounts .accountName
{
	font-style: italic;
}

#error
{
	color: Red;
	font-size:small;
}

.welcome
{
	font-size:large;
	width:100%;
	height:auto;
	padding-left:30px;
}

.expired
{
	margin:auto auto;
	position:relative;
	width:400px;
	min-height:200px;
	height:auto;
	border:solid 1px green;
	
}

#details
{
	position:relative;
	width:90%;
	min-height:300px;
	height:auto;
	margin:auto auto;
}

#scheduledpayments
{
	position:relative;
	float:right;
	clear:right;
	width:350px;
	height:auto;
	min-height:200px;
	border: solid 1px black 
}

#details .header, #scheduledpayments .header
{
	border-bottom:solid 1px black;		
	background-color: #BED8F1;
	padding-bottom:5px;
	height:25px;
}

#details ul, #scheduledpayments ul
{
	list-style: none;
	display:block;
	margin:auto auto;	
}

#scheduledpayments .header ul li
{
	padding:2px;
	position:relative;
	float:left;
	height:20px;
	cursor:default;
	width:25%;
	padding-top:2px;
}

#details ul li
{
	position:relative;
	float:left;
	cursor:default;
	width:20%;
	padding-top:2px;
}

.scheduled ul
{
	padding:2px;
}

.scheduled ul li
{
	padding:2px;
	position:relative;
	float:left;
	height:20px;
	cursor:default;
	width:25%;
	padding-top:2px;
}

.addnew
{
	position:relative;
  margin:auto;
  width:40%;
  min-height:325px;
}

.addnew .title
{
	margin:20px;
	text-align:center;
  font-weight:bold;
  font-size:16px;  
  margin-bottom:20px;
}

.formline
{
	margin-bottom:20px;
}

.form .textfield
{
	float:right;
}

.form .submitbutton
{
	float:right;
	margin-top:10px;
}

.addnew .textfield input:valid
{
	border:2px solid green;
}

.addnew .textfield input:optional
{
  border:1px inset lightsteelblue;
}

/**  Can also chain selectors together like so...
.addnew .textfield input:optional:valid
{
  border:2px solid green;
}
*/
